.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
    font-family: Arial, sans-serif;
}

#header {
    width: 100%;
    height: 200px;
    background-image: url("concole.png");
    background-size: cover;
    background-position: center;
}

#header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


nav ul{
    list-style-type: none;  /* Removes the bullet points from the list */
    margin: 0;  /* Removes any margins */
    padding: 0;  /* Removes any padding */
    display: flex;
    justify-content: flex-start;
    background-color: #333
}

nav {
    text-align: center;
    padding: 10px 0;
    display: flex;
    align-content: center;
}

nav a {
    padding: 5px 20px 5px 20px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

h1 {
    background-color: #333333;
    color: white;
}

body {
    background-color: #333333;
}

p {
    color: white;
}

/*body img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}*/

#main {
    width: 100%;
    height: 100%;
    background-image: url("main.jfif");
    background-size: auto;
    background-position: center;

}


