.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
    font-family: Arial, sans-serif;
    width: 100%;
}

#header {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

#header img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.topbar {
    background-color: #146E4B;
    width: 100%;
    text-align: center;
}

nav ul{
    list-style-type: none;  /* Removes the bullet points from the list */
    margin: 0;  /* Removes any margins */
    padding: 0;  /* Removes any padding */
    display: flex;
    justify-content: flex-start;
    background-color: #333
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: #333;
}


nav a {
    padding: 5px 20px 5px 20px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #146E4B;
}

h1 {
    background-color: #146E4B;
    color: white;
}

h2 {
    color:#85FF44;
    text-align: center;
}

body {
    background-color: #333333;
    font-family: Arial, Helvetica,sans-serif;
}

p {
    color: white;
}

/*body img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}*/

#main {
    width: 100%;
    height: 100%;
    background-size: auto;
    background-position: center;

}

.features {
    display: flex;                   /* Flexbox layout */
    justify-content: space-around;   /* Spread items */
    flex-wrap: wrap;                 /* Wrap to next line if needed */
    margin-top: 30px;                /* Space above */
}

.feature {
    background-color: #ffffff;       /* White card */
    border-radius: 8px;              /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow */
    padding: 20px;                   /* Inner spacing */
    width: 250px;                    /* Fixed width */
    margin: 10px;                    /* Space between cards */
    p {
        color:black;
    }/* Changes the texts colour to black */
    h3 {
        color: #85FF44;
    }
}

.feature img {
    width: 100%;                     /* Full width inside card */
    height: 120px;                   /* Fixed height */
    object-fit: cover;               /* Crop image nicely */
    border-radius: 5px;              /* Slightly rounded */
}

.content {
    table tr td {
        border: 5px solid black;
        padding: 10px;
        border-spacing: 15px;
        color: white;
    }
}




